﻿body {
    font-family: Calibri;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.details {
    background-color: #181818;
}

    .details h1 {
        font-weight: 300;
        font-size: 54px;
        margin: 5px 0!important
    }

    .details h2 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 5px;
        margin: 5px 0!important
    }

        .details h3 {
        font-size: 18px;
        margin: 5px 0!important
    }

    .details .lbl_holder {
        display: block;

        margin: 35px 0;
    }

    .details .imgmusic_holder{
        z-index:99;
    }

    .details .musics_holder {
        max-width: 1300px;
        WIDTH: 90%;
        MARGIN: 0 AUTO !important;
    }

        .details .musics_holder .music:hover .holder:after {
            width: 100%;
            content: "";
            height: 100vh;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            background-color: rgba(21,21,21,0.4);
        }

        .details .musics_holder .music:hover .link {
            opacity: 1;
            max-height: 80px;
        }

        .details .musics_holder .music .link {
            background-color: #fff;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            text-transform: uppercase;
            line-height: 60px;
            padding: 0 30px;
            border-radius: 3px;
            background: #3A3A3A;
            z-index: 9;
            width: 50%;
            COLOR: #FFF;
            position: absolute;
            height: 60px;
            display: block;
            right: 0;
            left: 0;
            top: 40%;
            overflow: hidden;
            max-height: 0;
            opacity: 0;
            -webkit-transition: ALL .3s ease-in-out;
            transition: ALL .3s ease-in-out;
        }

    .details .banner_holder {
        height: 100vh;
        overflow: hidden;
    }

        .details .banner_holder .texts {
            z-index: 11;
            display: table;
            height: 100vh;
            opacity: 1;
            position: absolute;
            color: #fff;
            text-transform: uppercase;
        }

        .details .img_holder {
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            display: block;
        }

        .details .banner_holder:before {
            width: 100%;
            height: 100vh;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            display: block;
            background-color: rgba(21,21,21,0.4);
        }

        .details .banner_holder .tblcell {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

    .details .musics_holder img {
        max-width: 100%;
    }

    .details .musics_holder .txts {
        background-color: #282828;
        min-height: 100px;
    }

    .details .musics_holder .music {
        margin-bottom: 30px;
        cursor: pointer;
    }

    .details .musics_holder .lbl_nome {
        color: #fafafa;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 20px;
        padding: 8px 0;
        display: block;
    }

    .details .musics_holder .lbl_compositor {
        color: #fafafa;
        font-weight: 500;
        display: block;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .details .scrollDown:hover {
        opacity: 0.7;
    }
