﻿@* /Views/Home/Index.cshtml *@
@{
    ViewBag.Title = "detalhe";
}
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/Scripts/Music/app.js"></script>
    <script src="~/assets/js/image-scale.js"></script>
    <script src="~/assets/js/home-index.js"></script>
    <link href="~/assets/css/index.css" rel="stylesheet" />

    <!--METAS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SCRIPTS-->
    <script>
        $(document).ready(function () {
            $(".image-scale").imageScale();

            $('.scrollDown').click(function (event) {
                event.preventDefault();
                var n = $(".banner_holder").height();
                $('html, body').animate({ scrollTop: n }, 500);
            });
        });
    </script>
}
<div ng-app="appMusic">
    <div class="details row text-center" ng-controller="MainController">
        <div class="banner_holder row">
            <div class="texts col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="imgmusic_holder col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img ng-src="{{ musics[0].image }}" alt="{{ musics[0].track }}" class="img_album" />
                </div>
                <div class="tblcell">
                    <div class="lbl_holder">
                        <label class="lbl">Name: </label>  <h1 class="lbl_nome"> {{ musics[0].track }} </h1>
                    </div>
                    <div class="lbl_holder">
                        <label class="lbl">Artist: </label> <h2 class="lbl_compositor"> {{ musics[0].artist }} </h2>
                    </div>
                    <div class="lbl_holder">
                        <label class="lbl">Album: </label>  <h3 class="lbl_compositor album"> {{ musics[0].album }} </h3>
                    </div>
                </div>
            </div>
            <div class="img_holder">
                <img src="/assets/img/bannes_index.jpg" class="image-scale" alt="UbiChallenge - Frontend" />
            </div>
        </div>
        <div class="music detail">
            <div class="row">
                <div class="holder">
                </div>
            </div>
        </div>
    </div>
</div>
