﻿@* /Views/Home/Index.cshtml *@
@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/assets/js/angular.min.js"></script>
    <script src="~/Scripts/Music/app.js"></script>  
    <script src="~/assets/js/image-scale.js"></script>
    <script src="~/assets/js/home-index.js"></script>
    <link href="~/assets/css/index.css" rel="stylesheet" />

    <!--METAS-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SCRIPTS-->
    <script>
        $(document).ready(function () {
            $(".image-scale").imageScale();

            $('.scrollDown').click(function (event) {
                event.preventDefault();
                var n = $(".banner_holder").height();
                $('html, body').animate({ scrollTop: n }, 500);
            });
        });
    </script>
}
<div ng-app="appMusic">
    <div class="main_holder row text-center"  ng-controller="MainController">
        <div class="banner_holder row ">
            <div class="texts">
                <div class="tblcell">
                    <h1>UbiChallenge - Frontend</h1>
                    <h2>Music Everywhere</h2>
                </div>
            </div>
            <div class="img_holder">
                <img src="~/assets/img/bannes_index.jpg" class="image-scale" alt="UbiChallenge - Frontend" />
            </div>
            <span class="scrollDown"></span>
        </div>
        <div class="musics_holder row">
            <div ng-repeat="music in musics" class="col-md-3 col-lg-3 col-xl-2 music">
                <div class="holder">
                    <div class="img_holder">
                        <img ng-src="{{ music.image }}" alt="{{ music.track }}" class="img_album" />
                        <a href="/detalhe/:{{ music.id }}" class="link"> + Details </a>
                    </div>
                    <div class="txts">
                        <label class="lbl_nome"> {{ music.track }} </label>
                        <label class="lbl_compositor"> {{ music.artist }} </label>
                    </div>
                    <p class="likes {{ music.favorite }} " ng-click="addFavorite($index)"></p>
                </div>
            </div>
        </div>
    </div>
</div>